.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
}

.header-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(25, 129, 121)
}

.header-link:hover {
    color: red
}

.header-link:active {
    color:blueviolet
}

.form-control {
    margin-top: 20px;
}