<h2>Регистрация</h2>
<form method="POST" action="/register">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="text" name="firstName" placeholder="Имя пользователя"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="repassword" placeholder="Repeat password"><br>
    <input type="submit" value="Зарегистрироваться">
</form>

<div>
    <a href="/auth">У меня уже есть аккаунт</a>
</div>