<h1>Регистрация</h1>

<form method="POST" action="/user/register">
  <input type="email" name="email" placeholder="Email">
  <input type="taxt" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirmPassword" placeholder="Confirm password">
  <input type="submit" value="Зарегестрироваться">
</form>
<div>
  <h1>Войти</h1>
  <a href="/user/auth">Войти</a>
</div>