<div class="header">
  <h3>{{header.title}}</h3>
  {{#if header.isCreateLink}}
    <a class="header-link" href="/create">Создать задачу</a>
  {{else}}
    <a class="header-link" href="/">Список задач</a>
  {{/if}}
</div>

<hr>