<form method="POST" action="/tasks/update/{{_id}}">
    <input type="text" name="title" placeholder="Введите название задачи" value="{{title}}"><br>
    <input type="submit" value="Сохранить">
</form>