<h2>Регистрация</h2>
<form method="POST" action="/register">
    <input type="text" name="email" placeholder="Email" class="my-1"><br>
    <input type="text" name="firstName" placeholder="Имя пользователя" class="my-1"><br>
    <input type="password" name="password" placeholder="Password" class="my-1"><br>
    <input type="password" name="repassword" placeholder="Repeat password" class="my-1"><br>
    <input type="submit" value="Зарегистрироваться" class="btn btn-primary mt-2">
</form>

<div class="mt-3">
    <a href="/auth">У меня уже есть аккаунт</a>
</div>
