<div class="container">
    <div>
        <form action="/" method="POST" class="tasks__add">
            <input type="text" name="title" placeholder="Введите задачу">
            <input type="submit" name="save" value="Добавить">
        </form>
    </div>
    <div class="tasks">
        {{#each tasks}}
            <div class="task">
                <input type="checkbox" {{#if this.complited}} checked {{/if}} class="task_checked" data-id="{{this._id}}">
                <p class="{{#if this.complited}} task_complite {{/if}}">{{this.title}}</p>
                <div class="tasks__control">
                    <a href="" class="control edit">e</a>
                    <a href="" class="control delete" data-id="{{this._id}}">x</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>
    //Delete
    const deleteElem = document.querySelectorAll(".delete");
    deleteElem.forEach( elem => {
        elem.addEventListener('click', event => {
            event.preventDefault()
            fetch('/' + event.target.getAttribute('data-id'), {
                method: 'DELETE',
            }).then(
                (response) => {
                    if (response.status === 200){
                        location.reload()
                    }
                }
            );
        })
    });
    //Checked
    const checkedElem = document.querySelectorAll(".task_checked");
    checkedElem.forEach( elem => {
        elem.addEventListener('change', event => {
            fetch('/' + event.target.getAttribute('data-id'), {
                method: 'PATCH',
            }).then(
                (response) => {
                    if (response.status === 200){
                        location.reload()
                    }
                }
            ); 
        })
    });
    
</script>