<div>
    <h2>Config
    </h2>
    <form method="post" action="/config">
        <input type="text" name="param1" placeholder="Enter data for parameter 1:">
        <input type="submit" value="SEND">
    </form>
</div>