<header>
    <div class="container">
        <h1>Добро пожаловать в мое приложение</h1>
        <hr>
    </div>
    <nav>
        <div class="container navigate">
            <div class="menu">
                <a href="/">Задачи</a>
                <a href="/news">Новости</a>
            </div>
            <div class="auth-link">
                <a href="/auth" class="link-enter">Войти</a>
                <a href="/reg">Зарегистрироваться</a>
            </div>
        </div>
    </nav>
</header>