.wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;

}

.wrapper li {
    width: 80%;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 0 10px 20px 10px;
    box-shadow: 5px 5px 3px #97a398;
}

.wrapper a, .new_q {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    display: block;
}

.wrapper li:hover, .new_q:hover {
    box-shadow: inset 2px 2px 2px #c1c9c6,
    5px 5px 3px #c1c9c6;
}

.wrapper li:active, .new_q:active {
    position: relative;
    left: 1px;
    top: 1px;
    box-shadow: inset 2px 2px 2px #c1c9c6,
    4px 4px 3px #c1c9c6;
}

.task_form * {
    display: block;
}

.new_q {
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 0 auto;
    box-shadow: 5px 5px 3px #97a398;
    font-size: 2em;
    max-width: 300px;
    text-align: center;
}

